### bin directory
bin/tess/*
bin/*.exe
bin/*.dll
### log directory
log/

### temp directory
tmp/

### compiled files
*.pyc
*.lnk
temp.py
run_at.json
*.p
test.py
.vscode/
.idea/
*test.json
*test.ini
info.log
*old*.py


# ignore h5 cache
*.h5

#ignore runtime files
runTimeOptions.json