### Ignore executable files
*
!*/
!*.*

### Exceptions
!LICENSE

### ignore some utils directories
utils/dialer/

### bin directory
bin/

### temp directory
tmp/

### compiled files
*.lnk

### ignore ide folders
.vscode/
.idea/


### distribution files
dist/
MANIFEST
build/

### ignore test and debug files


### ignore log files
*.log

### ignore h5 cache
*.h5

### ignore coveralls
.coverage
.coveralls.yml
coverage_html/


### ignore rst file
*.rst


### ignore some asset dir
test

### ignore vendor folder
vendor/

### Mac
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
