scikit_image>=0.13.1
setuptools==36.5.0
watchdog==0.8.3
click==6.7
matplotlib==2.0.2
opencv_contrib_python==3.3.0.10
# cv2+contrib 3.2.0 as well
h5py==2.7.1
deprecation==1.0.1
numpy>=1.11
APScheduler==3.4.0
PyQt5==5.9.2
scikit_learn==0.19.1
win32gui==221.6
PyYAML==3.12
